.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: solid 2px var(--cor-branco);
    border-radius: 5%;
    width: clamp(3.5rem, 4vw, 8rem);
    height: clamp(3.5rem, 4vw, 8rem);
    font-size: clamp(1rem, 2vw, 5rem);
    background: var(--cor-azul);
    cursor: pointer;
    color: var(--cor-branco);
    z-index: 1000;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.scroll-to-top:hover {
    transform: scale(1.1);
    background-color: var(--cor-botao);
}